
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{:style => "margin-top:50px;"}
    .panel.panel-info
      .panel-heading
        .panel-title Sign In
        %div{:style => "float:right; font-size: 80%; position: relative; top:-10px"}
          = link_to "Forgot your password?", new_password_path(resource_name)
      .panel-body{:style => "padding-top:30px"}
        #login-alert.alert.alert-danger.col-sm-12{:style => "display:none"}
        
        = content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert]
        
        .input-group{:style => "margin-bottom: 25px"}
          %span.input-group-addon
            %i.glyphicon.glyphicon-user
          = f.email_field :email, class: "form-control", id: "login-username", :placeholder => "Email"
        .input-group{:style => "margin-bottom: 25px"}
          %span.input-group-addon
            %i.glyphicon.glyphicon-lock
          = f.password_field :password, autocomplete: "off", id: "login-password", class: "form-control", placeholder: "Password"
        - if devise_mapping.rememberable?
          .input-group
            .checkbox
              %label
                = f.check_box :remember_me, id: "login-remember"
                Remember me
        .form-group{:style => "margin-top:10px"}
          .col-sm-12.controls
            = f.submit "Login", class: "btn login btn btn-success"
        .form-group
          .col-md-12.control
            %div{:style => "border-top: 1px solid#888; padding-top:15px; font-size:85%"}
              Don't have an account!
              = link_to "Sign up", new_registration_path(resource_name)
