!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title ExpensesCalculator
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		= render "layouts/header"
		.container-fluid
			.row
				.col-md-3
					= render "layouts/profile"
				.col-md-6
					.container
						= yield
				.col-md-3
					= render "layouts/balance"